---
- import_playbook: playbooks/01-base.yml

- import_playbook: playbooks/02-php.yml

- import_playbook: playbooks/03-nginx.yml

- import_playbook: playbooks/04-mysql.yml
  when: mysql_setup is defined and mysql_setup == true

- import_playbook: playbooks/05-flarum.yml

- import_playbook: playbooks/06-fail2ban.yml
  when: fail2ban_setup is defined and fail2ban_setup == true

- import_playbook: playbooks/07-promtail.yml
  when: promtail_setup is defined and promtail_setup == true
