upstream fastcgi_backend {
    server unix:/var/run/php/php8.3-fpm.sock;
}

server {
    listen {{ http_port }};
    server_name {{ http_host }};
    root {{ flarum_project_root }}/public;

    location /health-check {
       root {{ healthcheck_root }};

       access_log off;
       add_header 'Content-Type' 'application/json';

       fastcgi_index  index.php;
       fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
       include fastcgi_params;
       fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
    }

    include {{ flarum_project_root }}/.nginx[.]conf;
}