---
- hosts: all
  become: true
  vars_files:
    - ../vars/default.yml

  tasks:
    - name: Ensure group '{{ flarum_user }}' exists
      ansible.builtin.group:
        name: "{{ flarum_user }}"
        state: present

    - name: Add the user '{{ flarum_user }}' appending the group 'adm', 'www-data' and '{{ flarum_user }}' to the user's groups
      ansible.builtin.user:
        name: "{{ flarum_user }}"
        group: "{{ flarum_user }}"
        groups: "adm,www-data,{{ flarum_user }}"
        append: yes

    - name: Ensure apt lock files are not present
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /var/lib/dpkg/lock
        - /var/lib/dpkg/lock-frontend
        - /var/cache/apt/archives/lock
        - /var/lib/apt/lists/lock
      when: ansible_facts['os_family'] == "Debian"

    - name: Install Prerequisites
      apt: name={{ item }} update_cache=true state=latest force_apt_get=true force=true autoremove=true autoclean=true
      loop: [
        'aptitude',
        'curl',
        'zip',
        'unzip',
        'gzip',
        'wget',
        'git',
        'software-properties-common',
        'ca-certificates',
        'apt-transport-https'
      ]
